<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet 'bootstrap' %>
  <%= javascript 'jquery2' %>
  <%= javascript 'jquery_ujs' %>
  <%= javascript 'bootstrap' %>
  <%= javascript 'main' %>
  <%= javascript  'jquery.countdown' %>

    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
