<div class="container">
<% if message %>
  <%= render partial: 'show_message' , locals: {message: message}%>
    <script>
  <% if message.client_password.nil? %>
    $('.client_password_form').hide();
    $('textarea#text').val('<%= decrypted_text%>')
  <% else %>
    $('.message').hide();
    $('textarea#text').val(CryptoJS.AES.decrypt('<%= message.text %>','<%= message.client_password %>').toString(CryptoJS.enc.Utf8))
  <% end %>

  $('#show-message').click(function(){
    entered_value = $('#client_password').val();
    db_password = '<%= message.client_password %>'
    if (entered_value == db_password ){
      debugger;
      $('.client_password_form').hide();
      $('.message').show();
    } else {
      $('.validate-client-password').html('Password id wrong! Please, try again').css({color: 'red'}).show();
      }
    })
  </script>
 <%= render partial: 'countdown', locals: { countdown: countdown }  if countdown  %>
  <% else %>
    <h2>This message was already destroyed! </h2>
  <% end %>
</div>

